Repository jenkinsci/jcasc-vscode-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, tslint --fix

run prettier
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/settings.yml
  .github/stale.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  azure-pipelines.yml
  package-lock.json
  package.json
  src/extension.ts
  src/test/runTest.ts
  src/test/suite/extension.test.ts
  src/test/suite/index.ts
  tsconfig.json
  tslint.json
Due: prettier --write --ignore-path .gitignore

prettify (#24)
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/settings.yml
  .github/stale.yml
  .huskyrc.yml
  .lintstagedrc.yml
  .prettierrc.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  .vscodeignore
  README.md
  azure-pipelines.yml
  package-lock.json
  package.json
  src/extension.ts
  src/test/runTest.ts
  src/test/suite/extension.test.ts
  src/test/suite/index.ts
  tsconfig.json
  tslint.json
Due: prettier --write --ignore-path .gitignore

add bundling
  .vscode/launch.json
  .vscodeignore
  azure-pipelines.yml
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write --ignore-path .gitignore, tslint --fix

reduce package size by using node-fetch
  package-lock.json
  package.json
  src/extension.ts
Due: prettier --write --ignore-path .gitignore

output to workspace folder
  src/extension.ts
Due: none

configuration fields should be of type string
  src/extension.ts
Due: none

fix webpack watch task
  .vscode/extensions.json
  .vscode/tasks.json
  package.json
Due: prettier --write --ignore-path .gitignore

use lint-staged beta
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier --write --ignore-path .gitignore

Use webpack and node-fetch to reduce package size (#23)
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  .vscodeignore
  azure-pipelines.yml
  package-lock.json
  package.json
  src/extension.ts
  webpack.config.js
Due: prettier --write --ignore-path .gitignore, tslint --fix

whoopsie
  .lintstagedrc.yml
Due: none

More error handling
  src/extension.ts
  src/httpError.ts
Due: none

align tslint with prettier
  tslint.json
Due: prettier --write --ignore-path .gitignore

More eror handling
  src/extension.ts
  src/httpError.ts
Due: none

Incorrect URL/Token Handling (#14)
  src/extension.ts
  src/httpError.ts
Due: none

Add release steps
  azure-pipelines.yml
Due: none

Add deploy script
  package.json
Due: prettier --write --ignore-path .gitignore

Change to yarn
  azure-pipelines.yml
  package-lock.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

Update scripts to yarn
  package.json
Due: prettier --write --ignore-path .gitignore

ignore package-lock.json
  .gitignore
Due: none

ignore yarn.lock and yarn-error.log from publish
  .vscodeignore
Due: none

Add release automation (#27)
  .gitignore
  .vscodeignore
  azure-pipelines.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

Bump version
  package.json
Due: prettier --write --ignore-path .gitignore

need to add dev dependency on vsce for deploy
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

need to add dev dependency on vsce for deploy (#28)
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

Bump Version
  package.json
Due: prettier --write --ignore-path .gitignore

Update Readme
  README.md
Due: none

Added functionality to complete the url
  src/extension.ts
Due: none

Removed console log
  src/extension.ts
Due: none

Committed suggestions
  README.md
  package.json
  src/extension.ts
Due: prettier --write --ignore-path .gitignore

Update Readme (#31)
  README.md
Due: none

Added trailing slash method
  src/extension.ts
Due: none

Invoked method for trailing slash for jenkins URL
  src/extension.ts
Due: none

Fixed fetching URL for Jenkins instance (#32)
  README.md
  package.json
  src/extension.ts
Due: prettier --write --ignore-path .gitignore

Updating version
  package.json
Due: prettier --write --ignore-path .gitignore

launch.json
  README.md
  src/extension.ts
Due: none

Hacktoberfest_21_show_output_feedback
  src/extension.ts
Due: none

updated jcasc-plugin vscode marketplace link
  README.md
Due: none

chore: Deprecate Release Drafter app in favor of GitHub workflow
  .github/workflows/release-drafter.yml
Due: none

launch.json (#47)
  README.md
  src/extension.ts
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore: (any of: *.{js, ts}) or (any of: *.{json, md, yml})
  tslint --fix: any of: *.{js, ts}
